.profile-container {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.inline-group .input-wrapper {
    display: flex;
    gap: 8px;
}

.inline-group input {
    flex: 1;
}

.inline-group button {
    white-space: nowrap;
    padding: 10px 14px;
    font-size: 14px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.inline-group button:hover {
    background-color: #333;
}

/*.bottom-actions {
    position: absolute;
    bottom: 20px;
    right: 30px;
}*/

.bottom-actions .danger {
    background-color: #d9534f;
    padding: 10px 14px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.bottom-actions .danger:hover {
    background-color: #c9302c;
}


.submit-wrapper button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.submit-wrapper button:hover {
    background-color: #0056b3;
}



.submit-wrapper {
    text-align: center;
    margin-top: 40px;
}



