<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Impact Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
<!--  <link href="/img/favicon.png" rel="icon">-->
<!--  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

<div th:replace="fragments/header :: header"></div>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section accent-background">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-5 justify-content-between">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2><span>핏플에 오신 것을 </span><span class="accent">환영합니다!</span></h2>
            <p>본 사이트는 일자리, 주거지, 인프라, 공공정책 정보를 제공하며 사용자 기반 추천 시스템으로 최적의 일자리와 주거지, 공공정책을 알려드립니다. 지금 바로 이용해보세요!</p>
            <div class="d-flex">
              <a href="#about" class="btn-get-started">시작하기</a>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2">
            <img src="/img/mainimg-Photoroom.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
        <div class="container position-relative">
          <div class="row gy-4 mt-5">

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-briefcase"></i></div>
                <h4 class="title"><a href="/job" class="stretched-link">일자리</a></h4>
              </div>
            </div><!--End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-house-door"></i></div>
                <h4 class="title"><a href="/housing_map_test" class="stretched-link">주거지</a></h4>
              </div>
            </div><!--End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-geo-alt"></i></div>
                <h4 class="title"><a href="/infra" class="stretched-link">인프라</a></h4>
              </div>
            </div><!--End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-bank"></i></div>
                <h4 class="title"><a href="/policy/list" class="stretched-link">공공정책</a></h4>
              </div>
            </div><!--End Icon Box -->

          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>맞춤 추천<br></h2>
        <p>나에게 최적화된 일자리와 주거지를 찾아보세요!</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3>추천 서비스 바로가기<a href="/recommend" class="btn-get-started">
              <i class="bi bi-arrow-right-circle"></i>
            </a></h3>
            <a href="/recommend">
            <img src="/img/recommand.png" class="img-fluid rounded-4 mb-4" alt=""></a>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                추천 서비스 이런분들한테 좋아요!
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
              </ul>
              <div class="position-relative mt-4">
                <h2 class="mb-3">📢 공지사항<a href="/notice" class="btn-get-started"> <i class="bi bi-plus-circle"></i></a></h2>
                <ul class="list-group">
                  <li th:each="notice : ${notices}" class="list-group-item d-flex justify-content-between align-items-center">
                    <a th:href="@{/notice/{id}/read(id=${notice.id})}" th:text="${notice.title}">공지사항 제목</a>
                    <span th:text="${#temporals.format(notice.createdAt, 'yyyy.MM.dd')}" class="text-muted small">날짜</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


  </main>
  <div th:replace="fragments/footer :: footer"></div>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Preloader -->
  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>

  <!-- Main JS File -->
  <script src="/js/main.js"></script>
</body>
</html>