<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>

<h2 th:text="${notice.title}">공지 제목</h2>

<p>
    <strong>작성일:</strong>
    <span th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd HH:mm')}">2025-07-08</span>
    |
    <strong>조회수:</strong>
    <span th:text="${notice.viewCount}">0</span>
</p>

<hr>

<div th:utext="${notice.content}">
    <!-- HTML 태그도 보여주려면 th:utext (주의: XSS 필터링 필요) -->
    공지 내용
</div>

<hr>

<a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/notice/{id}/edit(id=${notice.id})}" >← 수정하기</a>
<a href="/notice">← 목록으로</a>
</body>
</html>
