<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 리스트</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet"> <!-- Impact 메인 스타일 -->
    <link href="/css/admin/list.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>회원 리스트</h2>

<div class="search-box">
    <form th:action="@{/admin/member}" method="get" style="margin-bottom: 20px;">
        <input type="text" name="keyword" placeholder="이메일로 검색"
               th:value="${param.keyword}" />
        <button type="submit" class="searchBtn">🔍</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>No</th>
        <th>Email</th>
        <th>닉네임</th>
        <th>가입일</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${responseDTO == null}">
        <td>회원 정보가 없습니다.</td>
    </tr>
    <tr th:if="${responseDTO!=null and responseDTO.dtoList!=null}" th:each="member : ${responseDTO.dtoList}" th:id="|row-${member.id}|">
        <td th:text="${member.id}">ID</td>
        <td th:text="${member.email}">Email</td>
        <td th:text="${member.nickname}">닉네임</td>
        <td th:text="${#temporals.format(member.createdAt, 'yyyy-MM-dd')}">생성일</td>
        <td class="action-buttons">
            <button class="delete-btn" th:data-id="${member.id}" th:data-email="${member.email}" onclick="deleteMember(this)">회원 삭제</button>
        </td>
    </tr>
    </tbody>
</table>
<div style="margin-top: 20px; text-align: center;" th:if="${responseDTO != null}">
    <ul style="list-style: none; padding: 0; display: inline-flex; gap: 5px;">
        <li th:if="${responseDTO.prev}">
            <a th:href="@{/admin/member(page=${responseDTO.start - 1}, keyword=${param.keyword})}">이전</a>
        </li>
        <li th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
            <a th:href="@{/admin/member(page=${i}, keyword=${param.keyword})}"
               th:text="${i}"
               th:classappend="${i == responseDTO.page} ? 'active-page' : ''"
               style="padding: 5px 10px; border: 1px solid #ccc; border-radius: 5px;"></a>
        </li>
        <li th:if="${responseDTO.next}">
            <a th:href="@{/admin/member(page=${responseDTO.end + 1}, keyword=${param.keyword})}">다음</a>
        </li>
    </ul>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="/js/admin.js"></script>
</body>
</html>
