body {
    font-family: 'Segoe UI', sans-serif;
    padding: 40px;
    background-color: #fff;
}

h2 {
    margin-top: 200px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 150px;
    height: 8px;
    background: repeating-linear-gradient(
            -45deg,
            #ccc,
            #ccc 5px,
            transparent 5px,
            transparent 10px
    );
}

.search-box {
    width: 300px;
    margin: 0 auto 30px;
    position: relative;
}
.search-box input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.search-box .searchBtn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    border: none;
    background-color: white;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f9f9f9;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.delete-btn {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

.delete-btn:hover {
    background-color: #c00;
}