<!-- src/main/resources/templates/register.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원수정</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/user/edit.css" rel="stylesheet" >


</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="profile-container">
    <h2>프로필 수정</h2>

    <form name="frm" method="post" th:action="@{/user/modify}">
        <input type="hidden" name="id" th:value="${user.id}" />
        <input type="hidden" name="email" th:value="${user.email}" />
                <div class="form-group inline-group">

        <div class="form-group inline-group">
            <label >닉네임</label>
                <div class="input-wrapper">
                    <input type="text" name="nickname" th:value="${user.nickname}" />
                    <button type="button" id="nickBtn" class="btn btn-sm btn-outline-primary">수정</button>
                </div>
        </div>

        <div class="form-group">
            <label>이메일</label>
            <input type="email" th:value="${user.email}" disabled />
        </div>

        <div class="form-group inline-group">
            <label>새 비밀번호</label>
            <input type="password" name="password" />
        </div>

        <div class="form-group inline-group">
            <label>비밀번호 확인</label>
            <div class="input-wrapper">
                <input type="password" id="pw_confirm" />
                <button type="button" id="pwBtn" class="btn btn-sm btn-outline-primary">수정</button>
            </div>
        </div>

        <div class="bottom-actions form-group">
            <button type="button" id="removeBtn" class="danger">회원탈퇴</button>
        </div>
    </form>
    <div class="submit-wrapper">
        <form action="/mypage" method="get">
            <button type="submit">수정완료</button>
        </form>
    </div>
</div>

<script src="/js/user.js"></script>
</body>
</html>
