<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/css/user/mypage.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">
  <title>마이페이지</title>
z
</head>
<body>

<div th:replace="fragments/header :: header"></div>


<h1>마이페이지</h1>

<p><strong>사용자 이메일:</strong> <span th:text="${user.email}">이메일</span></p>

<div class="container">
  <div class="section">
    <h2>찜한 채용공고</h2>
    <ul>
      <li th:if="${jobScraps == null or jobScraps.isEmpty()}">찜한 채용공고가 없습니다.</li>
      <li th:each="job : ${jobScraps}">
        <a th:href="@{/job/detail/{id}(id=${job.jobPostId})}">
          <span th:text="${job.jobTitle}"></span> -
          <span th:text="${job.companyName}"></span>
          <span style="color: gray;" th:text="' (' + ${job.createdAt} + ')'"></span>
        </a>
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>찜한 정책</h2>
    <ul>
      <li th:if="${policyScraps == null or policyScraps.isEmpty()}">찜한 정책이 없습니다.</li>
      <li th:each="policy : ${policyScraps}">
        <a th:href="@{/policy/detail(plcyNo=${policy.policyId})}" th:text="${policy.policyName}"></a>
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>찜한 주거정보</h2>
    <ul>
      <li th:if="${housingScraps == null or housingScraps.isEmpty()}">찜한 주거정보가 없습니다.</li>
      <li th:each="house, stat : ${housingScraps}"
          th:attr="data-house-info=${housingJsonList[stat.index]}">
      <span th:text="${house.hsmpNm != null ? house.hsmpNm : '정보 없음'}"></span> -
        <span th:text="${house.rnAdres != null ? house.rnAdres : '정보 없음'}"></span>
        <span class="house-type" th:text="' (' + ${house.houseTyNm != null ? house.houseTyNm : '정보 없음'} + ')'"></span>
      </li>
    </ul>
  </div>

  <!-- 모달 구조 -->
  <div id="modal-wrapper">
    <div id="modal-content">
      <div id="modal-header">
        <h2>상세 정보</h2>
        <button id="close-modal-btn">✖</button>
      </div>
      <div id="modal-body"></div>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>


<script src="/js/mypage.js"></script>
</body>
</html>


